@model FIT5032_FUNSAILMEL.Models.Boat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Boat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img class="img-thumbnail" src="@Url.Content("~/images/boats/" + Model.Picture)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoatType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoatType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pier.PierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pier.PierName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
